{% extends "layout.html"%}

{% block body %}
        <h1>Search hockeydb.com using Forms.</h1>

        <form action="https://www.hockeydb.com/ihdb/stats/find_player.php" method="get">
            <input name="full_name" type = "text">
            <input type ="submit" value="Search">
        </form>

        <form action="https://www.hockeydb.com/ihdb/stats/find_player.php" method="get">
            <div class="form-group">
                <lable for="Player Entry">Player Name</lable>
                <small id="Enter-Player-Name" class="form-text text-muted">Enter Player Name</small>
                <input name="full_name" type="text" class="form-control" id="player-entry" aria-describedby="Enter-Player-Name">
                <div id="buttonalign"><button type="submit" class="btn btn-primary">Submit</button></div>
            </div>
        </form>
{% endblock %}
