body
{
    background-image: linear-gradient(to bottom,#002856, #00447c, #4b4b4b);
    height:100vh;
}
.nav
{
    background-color:yellow;
    color:red;
    width:1fr;
    border: 1px solid black;
}
.active
{
    background-color:black;
    width:1fr;
}


h1, p
{
    color: red;
    font-family: Serif;
    padding: 2px;
}

h2
{
    color: Black;
}
p
{
    margin:10px;
    height: 100px;
    border-style: ridge;
    border-color: red;
    padding: 5px;
    background: gray;
    color: white;
}

.form-control
{
    width: 250px;
    margin:10px;

}
.btn-primary
{
    margin: 10px;
}

#buttonalign
{
    display: flex;
    justify-content: flex-end;
}
