{% extends "layout.html" %}

{% block body %}
    <h1><b>Hello, Wes!</b></h1>
    <h2>Latest Updates:</h2>
    <p>Built basic framework for website with Nav bar</p>
    <select>
        <option value ="large"> Large Text</option>
        <option value ="initial" selected> Medium Text</option>
        <option value ="small"> Small Text</option>
    </select>
    <script>
        document.querySelector('select').onchange = function()  {
            document.querySelector('p').style.fontSize = this.value;
        }
    </script>

{% endblock %}
