{% extends "layout.html" %}

{% block content %}
    <script>
        function switch()
        {
            let selected = document.querySelector('#selected');
            return selected;
        }
    </script>
    <div class="content-header">
        <h1>project categories: <b><span>ALL</span></b></h1>
    </div>
    <!--<form action="/" method="post">
        <div class="form-group">
            <select name="selected" id="selected">
                <option value = {{ categories }}> Category View</option>
                <option value = {{ projects }}> Project View</option>
                <option value ="Story"> Story View</option>
                <option value ="Task"> Task View</option>
                <option value ="Sub Task"> Sub Task View</option>
            </select>
        </div>
    </form>-->
    <table class="table center table-hover table-light">
        <thead class="thead-dark">
            <th>Name</th>
            <th>Category ID</th>
            <th>Product</th>
            <th>Date Created</th>
        </thead>
        {% for row in categories %}
            <tr>
                <td><a href="#">{{ row.category }}</a></td>
                <td><a href="#">{{ row.categoryid }}</a></td>
                <td><a href="#">{{ row.product }}</a></td>
                <td><a href="#">{{ row.date }}</a></td>

                <!--TODO: add Edit and ARCHIVE-->
            </tr>
        {% endfor %}
    </table>


    <form action="/" method="post">
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="category" placeholder="enter a new category" type="text">
            <br>
            <button class="btn btn-primary" type="submit">Add Category</button>
        </div>
    </form>

{% endblock %}
