<!DOCTYPE html>

<html lang="en">
        <head>
            <link href="styles.css" rel="stylesheet">
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
            <title>Layout for Web</title>
        </head>
        <body>
            <nav class="nav justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/services">Tech Services</a>
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/faq">FAQ</a>
            </nav>
            {% block body %}
            {% endblock %}

        </body>
</html>
